{%extends "consumer/dashboard.html"%}
{%block content%}
<div class="row">
    {%for item in product%}
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{{item.image.url}}" width="200px" height="200px" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">Product Type: {{item.ptype}}</li>
                        <li class="list-group-item">Quantity Available: {{item.quantity}} Kgs</li>
                        <li class="list-group-item">Delivery Time: {{item.usual_deliver_time}} days</li>
                        <li class="list-group-item">Date Added: {{item.added_on}}</li>
                    </ul>
                </p>
                <a data-target="#orderProduct" data-toggle="modal" class="btn btn-outline-primary" onclick="displayData('{{item.id}}','{{item.quantity}}')">Order Product</a>

                </div>
            </div>
        </div>
    {%endfor%}
</div>
<div class="modal fade bd-example-modal-lg" id="orderProduct" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form action="/consumer/orderProduct" method="POST">
        <div class="modal-body">
            {%csrf_token%}
            <div class="row">
                <input type="text" id="pid" style="display: none;" name="pid" readonly>
            </div>
            <div class="row">
                <div class="col-sm form-group">
                    <label for="quantity">Quantity to order</label>
                    <input type="text" id="quantity" onchange="checkQuantity()" class="form-control" name="quantity" required>
                </div>
                <p>Your Address will be shared to the producer. Once producer confirms your order then only you will receive the producer details.</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="orderBtn" class="btn btn-primary">Order Product</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <script>
        var quantity=0;
        function displayData(item,quantity){
            document.getElementById('pid').value=item;
            window.quantity=parseInt(quantity);
        }
        function checkQuantity(){
            var entered_quantity=parseInt(document.getElementById('quantity').value);
            console.log('daee')
            if(entered_quantity>quantity)
            {
                document.getElementById('orderBtn').disabled=true; 
                alert('You have ordered excess quantity than available. Kindly recheck it once')
                document.getElementById('orderBtn').disabled=false; 
            }
        }
  </script>
{%endblock%}